/* HomePage Styling */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
     color: #333;
    font-family: 'Arial', sans-serif;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  .home-page h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .home-page p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .navigate-button {
    background: linear-gradient(45deg, #ff6f61, #ff3f34);
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .navigate-button:hover {
    background: linear-gradient(45deg, #ff3f34, #ff6f61);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  